<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
	<appSettings><add key="webPages:Version" value="2.0.0.0"/></appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="console" xsi:type="Debugger" layout="${longdate} | ${level:uppercase=true:padding=10} | ${logger} | ${message}  ${exception:format=tostring}" />
		</targets>
		<rules>
			<logger writeTo="console" />
		</rules>
	</nlog>

</configuration>
